/*
!.gitignore
!.gitattributes
!js
js/*
!js/functions.js
!js/atoi.js
!backend
backend/*
!backend/main.py
!backend/scrapers.py
!backend/requirements.txt
!index.html
!atoi.css
!atoi_mobile.css
!fdg.css
!toggle.css
!favicon.png